<% title "Inactive Account", false %>

<div id="unauthorized">
	<div class="dialog">
		<div class="liner">
			<h1>Our Appologies!</h1>
		    <h2>Your account has been disabled.</h2>
		    <p>It appears you don't have the permission to use this applicaiton. If you think you should have access, please contact the administrator.</p>
		</div>
	</div>
		
	<p class="buttons"><a href="javascript:window.history.back(); ">&laquo; Back to previous page</a> or 
	<a href="<%= root_url %>">Go to Home page &raquo; </a></p>

</div>