<% title "Unauthorized Access", false %>

<div id="unauthorized">
	<div class="dialog">
		<div class="liner">
			<h1>Oops, trouble ahead.</h1>
		    <h2>You have accessed an unauthorized page.</h2>
		    <p>It appears you don't have the rights to access this page. <br/>If you think you should have access to this page, please contact the administrator.</p>
		</div>
	</div>
		
	<p class="buttons"><a href="javascript:window.history.back(); ">&laquo; Back to previous page</a> or 
	<a href="<%= root_url %>">Go to Home page &raquo; </a></p>

</div>