<div class="row">
  <div class="col-md-6">
    <% if @request.status == Request::COMPLETED %>
      <%= link_to "Keep Item(s) On Reserve", rollover_confirm_request_path(@request), class: "btn btn-success" %>
    <% end %>
    <% if @request.status == Request::COMPLETED %>
      <%= link_to "Remove Item(s) From Reserve", archive_request_path(@request), class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @request.status == Request::COMPLETED && current_user.role == User::INSTRUCTOR_ROLE %>
      <%= link_to "Add More Items / Re Open", change_status_request_path(@request, status: Request::OPEN), class: 'btn btn-info pull-right', data: { confirm: "Are you sure?" } %>
    <% end %>

    <% if can?(:add_note, @request) %>
      <a data-toggle="modal" href="#history_popup" data-target="#history_popup" class="btn btn-default pull-right">
        Add a Note / History Log
      </a>
    <% end %>

  </div>

</div>
