<% if can?(:add_note, @request) %>

  <div class="modal fade" id="item_history_popup_<%= item.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Item History</h4>
        </div>

        <div class="modal-body">

          <div class="panel panel-default">
            <div class="panel-heading">
              Add a note
            </div>
            <div class="panel-body">
              <%= render partial: 'request_history/form', locals: { remote: true, item_id: item.id } %> 
            </div>
          </div>

          <div id="request_history_log_<%= item.id %>" 
               data-url="<%= item_history_request_path(@request, item_id: item.id, format: "js") %>">
          </div>

        </div> <!-- Closing .modal-body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

<% end %>
