<div class="add-items">
	<span class="btn btn-link btn-lg add-title green"><span class="fa fa-plus-square green"></span> Add an item:</span>
	<% Item::TYPES.reject { |t| @request.reserve_location.disallowed_item_types.include?(t) }.each do |type| %>
		<%= link_to type.humanize, new_request_item_path(@request, type: type), remote: true, class: "btn btn-link item-option" %>
	<% end %>



	<div class="pull-right">
		<%= link_to request_copy_items_path(@request), remote: true,  class: "btn btn-link blend" do%>
			<span class="fa fa-copy"></span> Copy Items
		<% end %>
		<%= link_to request_items_path(@request, status: Item::STATUS_DELETED), class: "btn btn-link blend" do %>
			<span class="fa fa-trash-o"></span> <%= @request.items.deleted.size %>
		<% end %>
	</div>
</div>


<div id="add_new_item">
</div>
