<div class="modal fade" id="item_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for [@request, @item], remote: true do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Update ILS Barcode</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.input :ils_barcode, label: "ILS Barcode", hint: "A Barcode has 14 numbers" %>
          <input type="hidden" name="show_barcode_form" value="true" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Barcode Not Required</button>
          <%= f.button :submit, "Save Barcode", class: "btn btn-success" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
