.acquisition_request,
.acquisition_requests {
  margin-bottom: 10px;

  .status-acquired {
    background-color: #5c8200 !important;
    color: #ffffff !important;
  }

  .status-open {
    background-color: #BE5A02 !important;
    color: #ffffff !important;
  }

  .status-cancelled {
    background-color: #A1002A !important;
    color: #ffffff !important;
  }



  .field {
    display: block;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin: 10px 0 4px 0;
  }

  h3 {
    font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif;
    color: #333333;
    margin-bottom: 0;
  }
}