form {
	.items .fields_for {
		border-bottom: 2px solid #eee;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
}

.items {
	margin-top: 10px;
	margin-bottom: 20px;
}

.item {
	padding: 20px 20px;
	font-size: 13px;
	box-shadow: (0 0 4px rgba(0, 0, 0, 0.4));
	margin-top: 12px;

	.field {
		display: block;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 0.02em;
		margin: 10px 0 4px 0;
	}

	border-bottom: 1px solid #ddd;

	h3 {
		font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif;
		color: #333333;
		margin-bottom: 0;
	}

	a.change-item-status {
		&.item_ready {
			color: #006600;
			border: 1px solid #006600;
		}

		&.item_not_ready {
			color: #555;
		}

		&.item_ready:hover,
		&.item_ready:focus {
			color: green;
		}


	}

	span.item-status {
		&.item_ready {
			color: white;
			background: green;
		}
	}

}

#removed_items {
	a {
		display: block;
		text-align: left;
	}
}


.add-items {
	border-bottom: 1px solid #F5F5F5;
	box-shadow: (0 -1px 0 0 #ddd inset);

	.btn.add-title {
		color: #222;
		cursor: text;

		&:hover {
			text-decoration: none;
		}
	}

	.item-option {
		font-weight: 600;
		color: #c40022;
		text-decoration: underline;

		&:hover {
			color: #222;
		}
	}
}

/* Styles for list item in request details */

.item-row {
	padding-top: 5px;
}

/** ITEM TYPE STYLES **/
.book_bg {
	background-color: #F0E68C;
	color: #000;
}

/* Khaki */
.ebook_bg {
	background-color: #333399;
	color: #fff;
}

/* Shade of Navy */
.map_bg {
	background-color: #008000;
	color: #fff;
}

/* green */
.multimedia_bg {
	background-color: #7a4a77;
}

/* Purple */
.course_kit_bg {
	background-color: #FFD700;
	color: #000;
}

/* Gold */
.photocopy_bg {
	background-color: #ddd;
	color: #000;
}

/* Gray */