.request {

	.status-completed {
		background-color: #5c8200 !important;
		color: #ffffff !important;
	}

	.status-open {
		background-color: #BE5A02 !important;
		color: #ffffff !important;
	}

	.status-cancelled {
		background-color: #A1002A !important;
		color: #ffffff !important;
	}

	.status-in-progress {
		background-color: #0080A4 !important;
		color: #ffffff !important;
	}

	.status-incomplete {
		background-color: #555 !important;
		color: #fff !important;
	}

	.status-removed {
		background-color: #999 !important;
		color: #fff !important;
	}

	.status-expiring {
		background-color: orange !important;
		color: #fff !important;
	}

	.status-upcycled {
		background-color: #6f5499 !important;
		color: #fff !important;
	}

	.panel-body .row {
		margin-bottom: 15px;
	}


	.panel {
		h3.panel-title {
			font-size: 14px;
		}
	}



}