.single-result {
  
}

.single-result:nth-child(odd) {
    background: #F0F8FF;
    background: #f5f5f5;    
}

.search-close {
  float:right;
}

.search-panel {
  display: none;
}

.no-results {
  border-left: 4px solid red;
}

.bookcover {
  width: 75px;
  height: 100px;
  padding-bottom: 5px;
}

.usethis {
/*  margin-top: 10px;*/
}