<% if can?(:update, @request) && @request.status == Request::INCOMPLETE %>
	<div class="row">
			<div class="col-md-6  <%= 'hide' if @request.items.size == 0 %>"  id="submit_request_button">


					<%= link_to edit_request_path(@request), class: "btn btn-link" do %>
						<span class="fa fa-chevron-circle-left"></span> Update Request
					<% end %>

					<%= link_to new_request_finish_path(@request), method: :post, class: "btn btn-success" do%>
						<span class="fa fa-thumbs-up"></span> I am done, submit this request
					<% end %>
			</div>
			<div class="col-md-6">
				<%= link_to request_path(@request), class: "btn btn-primary pull-right" do %>
					<span class="fa fa-hdd-o"></span> Save this request for later
				<% end %>
			</div>
	</div>
<% end %>
