body {
    padding-bottom: 20px;
    min-height: 100%;
    font-family: "Lucida", "Lucida Grande", Verdana, sans-serif;
    background: #F5EFE6;
}

.yul-navbar {
    background-image: none;
    background-color: #ffffff;

    .navbar-brand {
        padding: 0 15px 0;

        span {
            font-weight: bold;
            color: #222;
            display: block;

            &.small,
            a {
                padding-top: 4px;
                color: #767676;
                letter-spacing: 0.2em;
            }
        }

        img {
            @media (max-width: 480px) {
                margin-left: -90px;
            }
        }
    }

    .navbar-nav>li>a {
        color: #767676;
    }

    #new_request_button {
        margin-left: 10px;
    }
}

.heading {
    margin-bottom: 20px;
    padding-top: 30px;

    .pull-right {
        margin-top: 30px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 0;
        line-height: 1em;

        small {
            color: #554D4D;
        }
    }
}

.content {
    box-shadow: (0 0 6px rgba(0, 0, 0, 0.3));
    border-radius: 3px;
    background: #fff;

    .inner {
        padding: 20px;

        h3 {
            margin-top: 0;
        }
    }
}


footer {
    height: 60px;

    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 20px 0;

        .text-muted {
            margin: 20px 0;
            color: #050505;
        }
    }

}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    //LCS Custom
    .yul-navbar #new_request_button {
        margin-left: 0px;
        width: 100%;
    }

    .dropdown-menu {
        width: 95%;
    }
}