<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    /** COLORS **/
    .clear {
      clear: both;
    }
    .hide {
      display: none;
    }
    /** COLORS */
    .red {
      color: #CC0000;
    }
    .red.important {
      color: #cc0000 !important;
    }
    .orange {
      color: #ffa500;
    }
    .orange.importnatn {
      color: #FF8000 !important;
    }
    .black,
    .distinct {
      color: #000000;
    }
    .black.important,
    .distinct.important {
      color: #000000 !important;
    }
    .royalblue {
      color: #2B60DE;
    }
    .royalblue.important {
      color: #2B60DE !important;
    }
    .green {
      color: #008a00;
    }
    .green.important {
      color: #008a00 !important;
    }
    .blend {
      color: #737779;
    }
    .blend.important {
      color: #737779 !important;
    }
    .trivial {
      color: #82745c;
    }
    .trivial.important {
      color: #82745c !important;
    }
    .upcase {
      text-transform: uppercase;
    }
    /** TYPOGRAPHY */
    .weak {
      color: #797D7F !important;
      font-size: 10px !important;
    }
    .soft {
      font-weight: normal !important;
    }
    .bigger {
      font-size: 120%;
    }
    .small {
      font-size: 11px;
    }
    .xsmall {
      font-size: 10px;
    }
    .xsmall-i {
      font-size: 10px !important;
    }
    .strong {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    .odd {
      background-color: #f6f6f6;
    }
    .gray-bg {
      background-color: #ececec;
      color: #666;
    }
    .dark-background {
      background-color: #666;
      color: #fff;
    }
    /** BUTTON COLOURS **/
    .btn-york {
      background-color: #CC2030;
      border-color: #9A0100;
      color: #FFFFFF;
    }
    .btn-york:hover {
      color: #eee;
    }
    /** borders */
    .left-border {
      border-left: 1px solid #ccc;
    }
    .field {
      color: #d2452a;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .empty-field {
      color: #767676;
      font-family: &quot;Lucida Grande&quot;, helvetica, sans-serif;
      font-size: 11px;
      padding: 12px 0;
      line-height: 24px;
    }
    .click_redirect {
      cursor: pointer;
    }


    </style>
  </head>
  <body><%= yield %></body>
</html>
